.fademe {
    box-sizing:border-box;
}

/* ex:start */
.fademe.ng-enter,
.fademe.ng-leave {
    transition: all linear 1.5s;
}

.fademe.ng-leave.ng-leave-active,
.fademe.ng-enter {
    opacity: 0;
}

.fademe.ng-leave,
.fademe.ng-enter.ng-enter-active {
    opacity: 1;
}
/* ex:end */
