<section>

    <section>
        <h2>$http interceptors</h2>
    </section>

    <section>
        <h2>2 APIs for $http interceptors</h2>
        <ul>
            <li>"response interceptors" - DEPRECATED</li>
            <li>"new" around interceptors</li>
        </ul>
    </section>

    <section>
        <h2>Simple example - $http requests tracker</h2>
        <pre><code ng-non-bindable><%= includeCode('exercises/16_backend_http_interceptor/solution/progress.js', 'interceptor') %></code></pre>
    </section>

    <section>
        <h2>Registering interceptors</h2>
        <pre><code ng-non-bindable><%= includeCode('exercises/16_backend_http_interceptor/solution/progress.js', 'register') %></code></pre>
    </section>

    <section>
        <h1>Exercise</h1>
        <h2 stopwatch="20"></h2>
        <p>Write an interceptor that can be used to track $http .</p>
    </section>

</section>